<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["HeaderText"]</title>

    

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/materialize/dist/css/materialize.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/material-design-icons-iconfont/dist/material-design-icons.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"
              asp-fallback-href="~/lib/materialize/dist/css/materialize.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons"
              asp-fallback-href="~/lib/material-design-icons-iconfont/dist/material-design-icons.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="red darken-2 z-depth-3 pin-top">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo nav-header">@ViewData["HeaderText"]</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
            <div class="side-nav" id="mobile-demo">
                <div class="card red darken-2 z-depth-3">
                    <a asp-controller="Home" asp-action="Index"><i class="material-icons center">home</i></a>
                </div>
                <ul>
                    @{
                        if (ViewData["MenuItems"] != null)
                        {
                            foreach (MenuItemModel item in ViewData["MenuItems"] as IEnumerable<MenuItemModel>)
                            {
                                <li><a asp-controller="@item.Controller" asp-action="@item.Action">@item.Description</a></li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/materialize/dist/js/materialize.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"
                asp-fallback-src="~/lib/materialize/dist/js/materialize.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
